body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  text-align: center;
}

header h1,
h2 {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgb(50, 0, 0);
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  position: sticky;
}

.nav a {
  text-decoration: none;
  color: white;
  background-color: darkred;
  border-radius: 10px;
  margin: 1%;
  padding: 1%;
  justify-content: space-evenly;
}

.nav a:hover {
  background-color: black;
}

.dog,
.cat {
  margin: auto;
  width: 20%;
  border-radius: 10px;
  display: block;
  margin-top: 5%;
  margin-bottom: 1%;
}

.animals img {
  margin-top: 5%;
  margin-bottom: 1%;
  width: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.brands {
  margin-top: 5%;
  margin-bottom: 1%;
}

.logos {
  width: 10%;
  border-radius: 10px;
}

.productImage {
  width: 30%;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 1%;
}

.table1,
.table2,
.table3 {
  color: black;
  margin: auto;
  width: 70%;
  margin-bottom: 1%;
  text-align: left;
}

.table1 tr {
  width: 10%;
}

.table1 tr td {
  width: 30%;
  border: 1px solid red;
  -webkit-text-stroke-width: thin;
}
.table2 tr td {
  width: 25%;
  border: 1px solid red;
}

.table3 tr td {
  border: 1px solid red;
}

.declaro {
  width: 70%;
  text-align: center;
}

.headerImages {
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
  margin: auto;
}

#ue,
#gj,
#gob,
#cc {
  width: 25%;
  height: 25%;
  margin: 1%;
}

#gj {
  width: 7%;
}

.dies {
  color: black;
}

.hores {
  color: red;
}

footer {
  margin-bottom: 1%;
}

.brands {
  margin: auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.krytac a {
  color: white;
}

.marui a {
  color: blue;
}

.lct a {
  color: green;
}

.krytac a,
.marui a,
.lct a {
  text-decoration: none;
}

#capa1 {
  margin: auto;
  background-color: blue;
  width: 400px;
  border-radius: 10px;
  padding: 1%;
  z-index: 1;
}

#capa2 {
  margin: auto;
  background-color: purple;
  width: 400px;
  border-radius: 10px;
  padding: 1%;
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2;
}

#capa1,
#capa2 {
  margin: 1%;
}

#contingut {
  margin: auto;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  border-radius: 10px;
}

#container {
  background-color: black;
  color: white;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  padding: 1%;
  margin-top: 1%;
  text-align: center;
  border: solid;
  border-color: yellowgreen;
  border-radius: 10px;
  justify-items: auto;
}

#dog,
#cat {
  width: 50%;
  border-radius: 10px;
}

.catDiv,
.dogDiv {
  padding: 1%;
  background-color: yellowgreen;
  border-radius: 10px;
  width: 350px;
  color: black;
  text-align: center;
  margin: 20px;
  position: relative;
  float: left;
  height: 350px;
}
